<ion-content>
  <gl-background-video [src]="slide[0].video" poster="assets/inicio/intro.jpg"></gl-background-video>
  <div class="page-centered-element" *ngFor="let item of slide">
    <div class="content">
      <h1> <b> {{item.title | uppercase}} </b> </h1>
      <h5 [innerHTML]="item.content"></h5>

      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/login" color="light">
          <ion-icon color="primary" name="arrow-round-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>