:host {
    .ion-list.list.list-md.hydrated {
        --padding: 0px !important;
        --border-bottom: none !important;
        --border-top: none;
        --font-size: 14px;
        --margin-top: 10px;
        --background: none;
        --border-bottom: 1px solid white;
        --box-shadow: none;
    }

}


ion-label {
    color: white;
}


img {
    width: 150px;
}

p,
h3 {
    color: white;
}

.top-60 {
    margin-top: 60%;
}

.top-5 {
    margin-top: 5%;
}