.error-messages {
  
    color: red;
    text-align: center;
}




ion-label {
    color: white;
}


img {
    width: 150px;
}

p,
h3 {
    color: white;
}

.top-60 {
    margin-top: 60%;
}

.top-5 {
    margin-top: 5%;
}