<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{user.user}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="message-wrap">
    <div *ngFor="let msg of msgList" class="message" [class.right]="true">
      <img class="user-img" src="../../assets/inicio/av-1.png">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{'Mbappe'}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker">{{msg.message}}</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <ion-button slot="start" fill="outline" (click)="switchEmojiPicker()">
      <ion-icon name="md-happy"></ion-icon>
    </ion-button>
    <ion-textarea #chat_input [(ngModel)]="editorMsg" name="editorMsg" (keyup.enter)="sendMsg()" ngDefaultControl
      (focusin)="onFocus()">
    </ion-textarea>
    <ion-button fill="outline" (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </ion-button>
  </div>
  <app-emoji-picker [(ngModel)]="editorMsg"></app-emoji-picker>
</ion-footer>