     <ion-row>
        <ion-col>
          <h3>Select Avatar</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col  align-self: center size="7" text-center>
          <ion-img class="pick-avatar" src="../../assets/inicio/av.png"></ion-img>
          <ion-fab-button (click)="selectAvatar()" class="fab-button" color="dark">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
        </ion-col>
      </ion-row>

      <form [formGroup]="registerForm">
        <ion-row>
          <ion-col>
            <!-- inputs -->
            <ion-item>
              <ion-label position="floating">Email Address</ion-label>
              <ion-input formControlName="email" name="email" type="text"></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.email">
                <div class="error-messages" *ngIf="registerForm.get('email').hasError(error.type) 
                                                     && (registerForm.get('email').dirty 
                                                      || registerForm.get('email').touched) ">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name" name="name" type="text" autocapitalize></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.name">
                <div class="error-messages" *ngIf="registerForm.get('name').hasError(error.type) 
                          && (registerForm.get('name').dirty 
                          || registerForm.get('name').touched) ">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" name="password" type="password"></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.password">
                <div class="error-messages" *ngIf="registerForm.get('password').hasError(error.type) 
                          && (registerForm.get('password').dirty 
                          || registerForm.get('password').touched) ">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label>Phone</ion-label>
             
              <input style="border:none" ng2TelInput
                    [ng2TelInputOptions]="{'preferredCountries': ['co','us','es']}"
                    (hasError)="hasError($event)"
                    (ng2TelOutput)="getNumber($event)"
                    (intlTelInputObject)="telInputObject($event)"
                    (countryChange)="onCountryChange($event)" formControlName="phone" name="phone" >
            </ion-item>
  
            <ion-item>
                <ion-label>Location</ion-label>
                <ion-select placeholder="Select One">
                  <ion-select-option value="f">Medellin,Colombia</ion-select-option>
                  <ion-select-option value="m">Bogota,Colombia</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
        <!-- /inputs -->
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!registerForm.valid" (click)="onSubmit()" shape="round" color="tertiary">
              REGISTER
            </ion-button>
          </ion-col>
        </ion-row>
  
      </form>
  
      <ion-row>
        <ion-col class="top-5">
          <!-- buttons -->
          <p>
            Sign in With Social Account
          </p>
          <ion-button color="facebook">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button color="google">
            <ion-icon name="logo-googleplus"></ion-icon>
          </ion-button>
          <!-- /buttons -->
        </ion-col>
      </ion-row>
  