<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Welcome ...,
          Sign up to get started.
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="top-60">
        <form [formGroup]="registerForm">
          <!-- inputs -->
          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input formControlName="email" name="email" type="text"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.email">
              <div class="error-messages" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched) ">
                {{error.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name" name="name" type="text" autocapitalize></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.name">
              <div class="error-messages" *ngIf="registerForm.get('name').hasError(error.type) && (registerForm.get('name').dirty || registerForm.get('name').touched) ">
                {{error.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" name="password" type="password"></ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.password">
              <div class="error-messages" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched) ">
                {{error.message}}
              </div>
            </ng-container>
          </div>

          <!-- /inputs -->

          <ion-button [disabled]="!registerForm.valid" (click)="onSubmit()" expand="block" color="primary">
            SIGN IN
          </ion-button>

        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="top-5">
        <!-- buttons -->
        <p>
          Sign in With Social Account
        </p>
        <ion-button color="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button color="google">
          <ion-icon name="logo-googleplus"></ion-icon>
        </ion-button>
        <!-- /buttons -->
      </ion-col>
    </ion-row>
    <p>
      Already have an account?
      <a routerLink="/login" color="primary">SIGN IN</a>
    </p>
  </ion-grid>
</ion-content>