<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col text-center>
        <h3>Select Avatar</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col></ion-col> -->
      <ion-col text-center>
        <img *ngIf="userAvatar" class="pick-avatar" [src]="userAvatar">
        <ion-fab-button text-center (click)="selectAvatar($event)" class="fab-button" color="dark">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>



    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input [(ngModel)]="dataUser.user.name" type="text" name="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Location</ion-label>
              <ion-input [(ngModel)]="dataUser.user.location" type="text" name="location"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Languages</ion-label>
              <ion-select [(ngModel)]="dataUser.user.languages" name="languages" multiple="true" cancelText="Nah" okText="Okay!">
                <ion-select-option value="Arabic">Arabic</ion-select-option>
                <ion-select-option value="Chinese">Chinese</ion-select-option>
                <ion-select-option value="English">English</ion-select-option>
                <ion-select-option value="French">French</ion-select-option>
                <ion-select-option value="German">German</ion-select-option>
                <ion-select-option value="Italian">Italian</ion-select-option>
                <ion-select-option value="Japanese">Japanese</ion-select-option>
                <ion-select-option value="Portuguese">Portuguese</ion-select-option>
                <ion-select-option value="Russian">Russian</ion-select-option>
                <ion-select-option value="Spanish">Spanish</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea [(ngModel)]="dataUser.user.description"  name="description" rows="2" cols="10"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Phone</ion-label>
              <ion-input [(ngModel)]="dataUser.user.phone" type="text" name="phone"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select [(ngModel)]="dataUser.user.gender" name="gender" placeholder="Select One">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>



          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-button type="submit" shape="round" color="tertiary">
            SAVE
          </ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-grid>



</ion-content>