<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="home" [scrollEvents]="true" appAutoHide>
  <!-- refrescar contenido -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- /refrescar contenido -->

  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let post of items ">
      <ion-card>
        <ion-item>
          <ion-chip (click)="presentPopover($event, post)" slot="start" color="primary">
            <ion-avatar>
              <img src="../../assets/inicio/{{post.userAvatar}}">
            </ion-avatar>
            <ion-label>
              <b class="font">{{post.user}} </b>
              <p><small>
                  {{post.createAt | date}}
                </small></p>
            </ion-label>
          </ion-chip>
          <ion-note slot="end">
            {{post.createAt | relativeTime }}
          </ion-note>
        </ion-item>
        <img [src]="post.img">
        <ion-card-content class="colorCard">
          <p>{{post.description | titlecase}}</p>
        </ion-card-content>
        <ion-item>
          <ion-button (click)="openMap(post.coords)" fill="clear" size="small">
            <ion-icon name="pin"></ion-icon>
          </ion-button>
          <ion-button #bouncebtn (click)="likePost()" slot="end" fill="clear" size="small">
            <ion-icon [name]="start"></ion-icon>
            <p *ngIf="likes > 0">{{likes}}</p>
          </ion-button>
          <ion-button *ngIf="post.user == auth" slot="end" fill="clear" (click)="presentActionSheet(post)">
            <ion-icon name="ios-more"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- scroll infinito -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- /scroll infinito -->

  <!-- botón de fab -->
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="button" (click)="newPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- /botón de fab -->
</ion-content>

