<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="onLogout()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- refrescar contenido -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <!-- /refrescar contenido -->
  <ion-card *ngFor="let post of items ">
    <ion-item>
      <ion-chip slot="start" color="primary">
        <ion-avatar>
          <img src="../../assets/inicio/av1.jpg">
        </ion-avatar>
        <ion-label>
          <b>Erick </b>
          <p><small>
              {{post.createAt | date}}
            </small></p>
        </ion-label>
      </ion-chip>
    </ion-item>

    <img [src]="post.img">

    <ion-card-content>
      <p>{{post.description | titlecase}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button clear small (click)="likePost()">
          <ion-icon name="thumbs-up"></ion-icon>
          <div *ngIf="likes">{{ likes }} Likes</div>
        </ion-button>
      </ion-col>

      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- scroll infinito -->
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- /scroll infinito -->

  <!-- botón de fab -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- /botón de fab -->
</ion-content>